<div class="container">
    <div class="custom-card">
      <div class="body-card">
        <p>
          <strong>ID:</strong> estoesunid
        </p>
        <p>
          <strong>{{ "USER_EMAIL" | translate }}:</strong> esto es un Correo
        </p>
        <p>
          <strong>{{ "DATE" | translate }}:</strong> 23/08/2024
        </p>
      </div>
      <div class="body-card">
        <p>
          dfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
          ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        </p>
      </div>
      <div class="body-card">
        <div class="states">
          <div class="badge rounded-pill bg-primary">Cerrado</div>
          <div class="badge rounded-pill bg-dark">Categoría</div>
        </div>
        <div class="read-more">
          <a rel="stylesheet " href="#">
            {{  "READ_MORE" | translate }}
          </a>
        </div>
      </div>
    </div>