<div class="container">
    <div class="custom-card">
      <div class="body-card">
        <p>
          <strong>Usuario:</strong> estoesunid
        </p>
        <p>
          <strong>Correo:</strong> esto es un Correo
        </p>
        <p>
          <strong>Fecha:</strong> 23/08/2024
        </p>
      </div>
      <div class="body-card">
        <p>
          dfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
          ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        </p>
      </div>
      <div class="body-card">
        <div class="states">
          <div class="badge rounded-pill bg-primary">Cerrado</div>
          <div class="badge rounded-pill bg-dark">Categoría</div>
        </div>
        <div class="read-more">
          <a rel="stylesheet " href="#">
            Ver más  
          </a>
        </div>
      </div>
    </div>