
<app-confirmation-modal
  [title]="modalTitle"
  [message]="modalMessage"
  (confirmed)="handleConfirmation()">
</app-confirmation-modal>

<app-nav-bar-support></app-nav-bar-support>
<section class="chat-section" >

  <div class="container">

    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span class="ticket-topic">{{ ticket?.topic }}</span>
        <div class="status-container d-flex align-items-center">
          <span class="status-label">Ticket Status:</span>
          <span class="status-text" [ngClass]="getStatusClass()">
            {{ closureState }}
          </span>
          <span class="status-circle" [ngClass]="getCircleClass()"></span>
        </div>
      </div>  

      <div *ngIf="isLoading" class="loading-spinner">
        <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
        </div>
      </div>

      <div *ngIf="!isLoading">
        <div  class="message-container-wrapper">
          <div *ngFor="let msg of messages" class="message-row">
            <div class="d-flex flex-column" [ngClass]="getMessageAlignment(msg.remitent)">
              <div class="message-container p-2">
                <div class="message-bubble" [ngClass]="getBubbleClasses(msg.remitent)">
                  {{ msg.text }}
                </div>
                <div class="message-footer" [ngClass]="getBubbleClasses(msg.remitent)">
                  <small>{{ getSenderName(msg.remitent) }}</small>
                  <small class="message-time ml-auto">{{ msg.textDate | date:'HH:mm' }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group d-flex align-items-center">
          <input type="text" class="form-control me-2" [(ngModel)]="newMessage" (keydown.enter)="handleMessage()" 
                 placeholder="Escribe un mensaje...">
          <button class="btn btn-primary" (click)="handleMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</section>

