.custom-container-height{
    height:100%;
}
.custom-rectangle {
    width: 40%;
    height: 70%;
    background-color: #F2F6FF; /* Color de fondo del rectángulo */
    border: 1px solid #000; /* Borde opcional */
  }