.nav-link {
  color: #000000; /* Change text color to white */
  font-size: x-large;
  cursor: pointer;
  transition: color 0.4s ease, transform 0.4s ease;
}

.nav-link:hover {
  color: #990000 !important;
  transform: scale(1.1);
}
