<div class="d-flex container vh-100 justify-content-center align-items-center">
  <div class="col-6 col-md-6 col-lg-6">
    <div class="card p-4 shadow">
      <img
        src="/assets/gj-logo.png"
        class="img-fluid mb-4 mx-auto p-4"
        alt="Login Image"
        style="max-width: 50%; height: auto"
      />
      <h3 class="align-self-center">{{ "NOT_FOUND_TEXT" | translate }}</h3>
      <label for="languageSelect" class="mt-2">{{
        "SELECT_LANGUAGE_TEXT" | translate
      }}</label>
      <select
        id="languageSelect"
        class="form-control"
        (change)="onLanguageChange($event)"
      >
        <option value="en">English</option>
        <option value="es">Spanish</option>
        <option value="pr">Portuguese</option>
        <!-- Add more languages as needed -->
      </select>
      <a class="p-2 align-self-center" href="#">{{
        "GO_TO_LOGIN_TEXT" | translate
      }}</a>
    </div>
  </div>
</div>
