<app-nav-bar-jammer></app-nav-bar-jammer>
<div class="card mt-4">
    <div class="card p-3">
      <div class="d-flex justify-content-between">
        <div>
          <p class="mb-1"><strong>Id:</strong> estoesunid</p>
          <p class="mb-1"><strong>Nombre de usuario</strong></p>
          <p class="mb-1"><strong>Fecha:</strong> 23/08/2024</p>
        </div>
        <div>
          <button class="btn btn-warning">Cerrado</button>
        </div>
      </div>
      <div class="mt-3">
        <p>dfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdf</p>
        <p>fffffffffffffffffffffffffffffffffff</p>
        <p>fffffffffffffffffffffffffffffffffff</p>
        <p>fffffffffffffffffffffffffffffffffff</p>
        <a href="#">Ver más</a>
      </div>
      <div class="mt-3">
        <button class="btn btn-outline-primary">Categoría</button>
      </div>
    </div>
  </div>
