<div class="d-flex container vh-100 justify-content-center align-items-center">
  <div class="col-6 col-md-6 col-lg-6">
    <div class="card p-4 shadow">
      <img
        src="/assets/testlogo.png"
        class="img-fluid mb-4 mx-auto"
        alt="Login Image"
        style="max-width: 50%; height: auto"
      />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="email" class="form-label">{{
            "EMAIL_LOGIN_FIELD" | translate
          }}</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [placeholder]="'PLACEHOLDER_LOGIN' | translate"
            formControlName="email"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="!loginForm.valid"
        >
          {{ "LOGIN_TEXT" | translate }}
        </button>
      </form>
      <label for="languageSelect" class="mt-2">{{
        "SELECT_LANGUAGE_TEXT" | translate
      }}</label>
      <select
        id="languageSelect"
        class="form-control"
        (change)="onLanguageChange($event)"
      >
        <option value="en">English</option>
        <option value="es">Spanish</option>
        <option value="pr">Portuguese</option>
        <!-- Add more languages as needed -->
      </select>
    </div>
  </div>
</div>
