<div class="custom-main-container d-flex flex-column justify-content-start">
  <app-nav-bar-admin></app-nav-bar-admin>
  <div class="d-flex flex-column justify-content-between align-items-center">
    <h1>{{ "CREATE_SUPPORT" | translate }}</h1>
    <div class="custom-form-container">
      <form #userForm="ngForm" (ngSubmit)="submitSupport(userForm)">
        <div class="mb-3">
          <label for="InputEmail1" class="form-label">{{
            "EMAIL_ADDRESS" | translate
          }}</label>
          <input
            type="email"
            class="form-control"
            id="InputEmail1"
            aria-describedby="emailHelp"
            name="email"
            [(ngModel)]="supportDetails.email"
            #email="ngModel"
            required
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="email.errors?.['required']">
              {{ "EMAIL_REQUIRED" | translate }}
            </div>
            <div *ngIf="email.errors?.['email']">
              {{ "EMAIL_INVALID" | translate }}
            </div>
          </div>
          <div id="emailHelp" class="form-text">
            {{ "WELL_NEVER_SHARE" | translate }}
          </div>
        </div>
  
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">{{
            "USER_NAME" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            name="username"
            [(ngModel)]="supportDetails.name"
            #username="ngModel"
            required
          />
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="username.errors?.['required']">
              {{ "USER_NAME_REQUIRED" | translate }}
            </div>
          </div>
        </div>
  
        <div class="mb-3 form-check">
          <input
            type="radio"
            class="form-check-input"
            id="exampleCheck1"
            [(ngModel)]="isUser"
            name="isUser"
          />
          <label class="form-check-label" for="exampleCheck1">{{
            "UP_GRADE_USER" | translate
          }}</label>
        </div>
  
        <span>{{ "CATEGORIES" | translate }}</span>
        <div
          class="mb-3 form-check"
          *ngFor="let category of categoris; index as i"
        >
          <input
            type="checkbox"
            class="form-check-input"
            name="{{ category.name }}"
            [(ngModel)]="supportDetails.categoris[i].value"
            value="{{ category._id }}"
          />
          <label class="form-check-label" for="exampleCheck1">{{
            category.name
          }}</label>
          <!-- @for (category of categoris; track category._id) {
            <input type="checkbox" class="form-check-input" name="role">
            <label class="form-check-label" for="exampleCheck1">{{ category.name }}</label>
          } -->
        </div>
  
        <button type="submit" class="btn btn-primary">
          {{ "CREATE_BUTTON" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
