<app-nav-bar-support></app-nav-bar-support>
<div class="d-flex p-4 justify-content-center align-items-center">
  <div class="container-fluid p-4 w-100 overflow-hidden">
    <div class="row gy-4 p-4">
      <div class="col-12 col-md-4 col-lg-4">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "FILTER_CATEGORY_TEXT" | translate }}
          </a>
          <ul class="dropdown-menu">
            @for (category of categories; track category._id) {
            <li>
              <a
                (click)="onFilterCategory(category._id)"
                class="dropdown-item"
                >{{ category.name }}</a
              >
            </li>
            } @empty {
            <li>There are no items.</li>
            }
          </ul>
        </li>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "FILTER_CLOSURE_TEXT" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="onFilterClosure('Open')">{{
                "OPEN_FILTER_TEXT" | translate
              }}</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onFilterClosure('Closed')">{{
                "CLOSED_FILTER_TEXT" | translate
              }}</a>
            </li>
          </ul>
        </li>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "FILTER_RESOLUTION_TEXT" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                (click)="onFilterResolution('Resolved')"
                >{{ "RESOLVED_FILTER_TEXT" | translate }}</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="onFilterResolution('Not resolved')"
                >{{ "NOT_RESOLVED_FILTER_TEXT" | translate }}</a
              >
            </li>
          </ul>
        </li>
      </div>
    </div>
    <div class="row gy-4 mt-4">
      <!-- Card 1 -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">This is a description for Card 1.</p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">This is a description for Card 2.</p>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">This is a description for Card 3.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
