<nav class="navbar navbar-expand-lg my-navbar">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mr-lg-2">
        <li class="nav-item">
          <a routerLink="/admin-user/users-pool" class="nav-link">{{
            "TICKET_POOL_NAVBAR" | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin-users/create-support" class="nav-link">{{
            "CREATE_SUPPORT_NAVBAR" | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin-users/users-pool" class="nav-link">{{
            "USERS_NAVBAR" | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/supp-tickets" class="nav-link">{{
            "MY_TICKET_NAVBAR" | translate
          }}</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "SELECT_LANGUAGE_TEXT" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="onLanguageChange('en')"
                >English</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="onLanguageChange('es')"
                >Spanish</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="onLanguageChange('pr')"
                >Portuguese</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="signOut()">{{
            "SIGNOUT_NAVBAR" | translate
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
